body {
    margin: unset;
}

:root {
    font-family: 'Montserrat';
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.project {
    background-color: #6230a2;
}

.container {
    display: flex;
    align-items: center;
    padding-left: 420px;
}

.project-title {
    color: #fff;
    font-size: 40px;
    max-width: 258px;
    line-height: 44px;
    padding: 92px 0 105px 0;
    margin: 0;
}

.project-title span {
    font-weight: normal;
}

.title-explain::before {
    content: ' ';
    display: block;
    width: 90px;
    height: 1px;
    background-color: #c89dff;
    margin: 0 20px;
}

.title-explain {
    margin: 0;
    padding: 0;
    color: #c89dff;
}

.calendar {
    background-color: #fff5ed;
}