body, ul {
    margin: unset;
    padding: unset;
}


:root {
    font-family: 'Montserrat';
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.project {
    background-color: #6230a2;
    padding-bottom: 100px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;

}

.project-title {
    color: #fff;
    font-size: 40px;
    max-width: 258px;
    line-height: 44px;
    padding: 92px 0 105px 0;
    margin: 0;
    position: relative;
}

.project-title span {
    font-weight: normal;
}

.highlight {
    background: linear-gradient(to bottom, transparent 50%, rgba(255, 69, 0) 50%);
}

.project-line {
    width: 90px; 
    height: 1px;
    background-color: #c89dff;
    margin: 0 32px 0 22px; 
}

.title-explain {
    margin: 0;
    padding: 0;
    color: #c89dff;
}

.project-grid {
    display: grid; 
    gap: 30px;
    max-width: 1080px;
    margin: 0 auto; 
}

.project-item {
    display: flex;
    width: 100%;
    align-items: center;
    height: auto;
}

.project-item.reverse {
    flex-direction: row-reverse;
}

.project-gridimg {
    width: 280px;
    height: 148px;
    position: relative;
}

.project-gridimg img {
    width: 100%; 
    height: 100%; 
}

.overlay {
    position: absolute; 
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(98, 48, 162, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.project-gridimg h2 {
    z-index: 2;
    color: #fff;
    font-size: 32px;
    line-height: 44px;
    position: relative;
    opacity: 1;
}
.list {
    width: 800px;
    background-color: #fff;
    padding-bottom: 6px;
    
}

.list h3 {
    margin: 0;
    padding: 16px 0 14px 21px;
    color: #6230a2;
    font-size: 18px;

}

.list ul {
    list-style-type: none;
    padding-left: 20px; 
    padding-bottom: 0;
    margin: 0;
}

.list li {
    position: relative; 
    padding: 0 0 12px 24px; 
    font-size: 14px;
    margin: 0;
}

.list li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px; 
    background-color: #c89dff; 
    border-radius: 50%; 
}

.calendar {
    background-color: #fff5ed;
}

.calendar-header {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.calendar-title {
    color: #f98173;
    font-size: 40px;
    line-height: 44px;
    max-width: 360px;
    margin: 92px 0 100px 0;
}

.calendar-title span {
    font-weight: normal;
}

.addtocalendar {
    font-size: 16px;
    line-height: 44px;
    font-weight: bold;
    padding: 0 14px 4px 14px;
    color: #fff;
    background-color: #ff4500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.calendar-container {
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.calendar-card {
    background-color: #fff;
}

.calendar-card img {
    width: 340px;
    height: 255px;
    border-bottom: 4px solid #111;
}

.card-line {
    background-color: #eee;
    height: 4px;
    width: 320px;
    margin-left: 40px;
}